#charStatDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#weaponAndRelicsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#allStatsDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
