#charStatDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#weaponAndRelicsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#allStatsDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-inline-block {
  width: 400px;
}

#dropdownLc {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#weaponBtnDiv {
  display: flex;
  justify-content: center;
}
