#charStatDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#weaponAndRelicsDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 450px;
}

#allStatsDiv {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 15px;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-inline-block {
  width: 400px;
}

#dropdownLc {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

#weaponBtnDiv {
  display: flex;
  justify-content: center;
}

#relicPartPicker {
  button.relic {
    background-color: black;
  }

  display: flex;
  padding: 5px 0 5px 0;
  align-items: center;

  .setManager {
    height: 36px;
  }
}

.relicsSavedSets {
  li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}

svg {
  cursor: pointer;
}
