<div id="charStatDiv">
  <div>
    <p>{{ charBaseStats.name }}</p>
    <label for="levelRange" class="form-label">lvl</label>
    <input type="range" class="form-range" min="0" max="13" step="1" id="levelRange" [(ngModel)]="charBaseStats.lvl" />
  </div>
  <div>
    <div class="stat">
      <div>ATK</div>
      <div>{{ charBaseStats.atk[charBaseStats.lvl] }}</div>
    </div>
    <div class="stat">
      <div>HP</div>
      <div>{{ charBaseStats.hp[charBaseStats.lvl] }}</div>
    </div>
    <div class="stat">
      <div>DEF</div>
      <div>{{ charBaseStats.def[charBaseStats.lvl] }}</div>
    </div>
    <div class="stat">
      <div>SPD</div>
      <div>{{ charBaseStats.speed }}</div>
    </div>
    <!-- <div class="stat">
      <div>critRate</div>
      <div>{{ critRate }}</div>
    </div>
    <div class="stat">
      <div>critDmg</div>
      <div>{{ critDmg }}</div>
    </div>
    <div class="stat">
      <div>effectHitRate</div>
      <div>{{ effectHitRate }}</div>
    </div>
    <div class="stat">
      <div>breakEffect</div>
      <div>{{ breakEffect }}</div>
    </div> -->
  </div>
</div>
<div></div>
