<div id="allStatsDiv">
  <div id="charStatDiv">
    <div>
      <p>{{ charBaseStats.name }}</p>
      <label for="levelRange" class="form-label">lvl</label>
      <input type="range" class="form-range" min="0" max="13" step="1" id="levelRange" [(ngModel)]="charBaseStats.lvl" />
    </div>
    <div>
      <div class="stat">
        <div>ATK</div>
        <div>{{ charBaseStats.atk[charBaseStats.lvl] + (this.charBaseStats.lightCone ? this.charBaseStats.lightCone.atk : 0) }}</div>
      </div>
      <div class="stat">
        <div>HP</div>
        <div>{{ charBaseStats.hp[charBaseStats.lvl] }}</div>
      </div>
      <div class="stat">
        <div>DEF</div>
        <div>{{ charBaseStats.def[charBaseStats.lvl] }}</div>
      </div>
      <div class="stat">
        <div>SPD</div>
        <div>{{ charBaseStats.speed }}</div>
      </div>
      <div class="stat">
        <div>critRate</div>
        <div>{{ charBaseStats.critRate }}</div>
      </div>
      <div class="stat">
        <div>critDmg</div>
        <div>{{ charBaseStats.critDmg }}</div>
      </div>
      <div class="stat">
        <div>effectHitRate</div>
        <div>{{ charBaseStats.effectHitRate }}</div>
      </div>
      <div class="stat">
        <div>breakEffect</div>
        <div>{{ charBaseStats.breakEffect }}</div>
      </div>
    </div>
  </div>
  <div id="weaponAndRelicsDiv">
    <div id="lcDiv">
      <div ngbDropdown class="d-inline-block">
        <div id="weaponBtnDiv">
          <button type="button" class="btn btn-outline-primary" id="dropdownLc" ngbDropdownToggle>
            <div *ngIf="charBaseStats.lightCone"><img src="{{ charBaseStats.lightCone.img }}" width="48px" /> {{ charBaseStats.lightCone.name }}</div>
            <div *ngIf="!charBaseStats.lightCone">Weapon</div>
          </button>
          <button type="button" class="btn btn-outline-primary" *ngIf="charBaseStats.lightCone" (click)="switchShowWeapon()">
            <img src="assets/settings_64.png" width="32px" />
          </button>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownLc">
          <button ngbDropdownItem *ngFor="let oneLC of lcAllData | lcForPath : charBaseStats.class" (click)="chooseWeapon(oneLC)">
            <div class="oneLcDiv">
              <img src="{{ oneLC.img }}" width="48px" />
              {{ oneLC.name }}
            </div>
          </button>
        </div>
      </div>
    </div>
    <div>Relics</div>
    <div *ngIf="showWeaponStats && charBaseStats.lightCone">
      <p>{{ this.charBaseStats.lightCone.path }}<--> {{ this.charBaseStats.lightCone.rarity }}</p>
      <p>atk: {{ this.charBaseStats.lightCone.atk }}</p>
      <p>def: {{ this.charBaseStats.lightCone.def }}</p>
      <p>hp: {{ this.charBaseStats.lightCone.hp }}</p>
      <p>{{ this.charBaseStats.lightCone.description }}</p>
    </div>
  </div>
  <div></div>
</div>
