<div class="positionDiv" id="mainDiv">
  <div class="positionDiv" id="menu">Меню</div>
  <div class="positionDiv" id="battleMain">
    <div class="positionDiv" id="battleDiv">
      <app-dmg-log class="positionDiv" id="battleLog"></app-dmg-log>
      <div class="positionDiv" id="battleBattle">
        <div><button class="btn btn-outline-secondary" (click)="doThing()">enemy</button></div>
      </div>
      <div class="positionDiv" id="enemyStat">enemyStat</div>
    </div>
  </div>
  <app-ally-team></app-ally-team>
</div>
