.positionDiv {
  display: flex;
  justify-content: center;
}

#mainDiv {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#battleBattle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#battleMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#battleDiv {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
